{% set steps_data = widget.settings.steps.mobile %}
{% set primaryColor = widget.settings.colors.primary.mobile %}
{% set secondaryColor = widget.settings.colors.secondary.mobile %}

<p>Primary color is: {{ primaryColor }}</p>
<p>Primary color is: {{ secondaryColor }}</p>

{% if steps_data is not empty %}
    {% if isPreview %}
        <div>
            {% for step in steps_data %}
                <h1>{{step.title}}</h1>
                <div class="my-4" data-builder-child-container="{{step.uuid}}">{{ children[step.uuid] | raw }}</div>
            {% endfor %}
        </div>
    {% else %}
        <div class="step-widget">
            <steps-widget :steps="{{steps_data|json_encode}}" :primaryColor="{{ primaryColor|json_encode }}" :secondaryColor="{{ secondaryColor|json_encode }}">
                {% for step in steps_data %}
                    <step-content :index="{{ loop.index0 }}">
                        <div class="my-4" data-builder-child-container="{{step.uuid}}">{{ children[step.uuid] | raw }}</div>
                    </step-content>
                {% endfor %}
            </steps-widget>
        </div>
    {% endif %}
{% endif %}