{% import "Ceres::Widgets.Helper.WidgetHelper" as WidgetHelper %}
{% import "Ceres::Widgets.Helper.TwigBuilder" as Twig %}

{{ Twig.component("CheckoutStepper::Stepper.Components.Stepper") }}

{% set steps = widget.settings.steps.mobile %}
{% if steps is not empty %}
    {% if isPreview %}
        {% if steps is not empty %}
            <div>
                {% for step in steps %}
                    <h2>{{step.title}}</h2>
                    <div class="my-4" data-builder-child-container="{{ step.uuid }}">{{ children[step.uuid] | raw }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% else %}
        <div>
            <stepper-widget template="#vue-stepper" steps="{{ steps | json_encode }}" childContainers="{{ children | raw }}">
            </stepper-widget>
        </div>
    {% endif %}
{% endif %}
