{% set steps = widget.settings.steps.mobile %}

{% set primaryColor = widget.settings.colors.primary.mobile %}
{% set secondaryColor = widget.settings.colors.secondary.mobile %}
{% set primaryTextColor = widget.settings.colors.primaryTextColor.mobile %}
{% set secondaryTextColor = widget.settings.colors.secondaryTextColor.mobile %}
{% set backgroundColor = widget.settings.colors.stepsBackgroundColor.mobile %}

{% if steps is not empty %}
    {% if isPreview %}
        <div>
            {{ steps | json_encode}}
            {{ colors | json_encode}}
            {{ colors.primary | json_encode}}
            {{ colors.secondary | json_encode}}
            {% for step in steps %}
                <h1>{{step.title}}</h1>
                <div class="my-4" data-builder-child-container="{{step.uuid}}">{{ children[step.uuid] | raw }}</div>
            {% endfor %}
        </div>
    {% else %}
        <div class="step-widget">
            <steps-widget
                    :steps="{{steps|json_encode}}"
                    :primary-color="{{primaryColor|json_encode}}"
                    :secondary-color="{{secondaryColor|json_encode}}"
                    :primary-text-color="{{primaryTextColor|json_encode}}"
                    :secondary-text-color="{{secondaryTextColor|json_encode}}"
                    :steps-background-color="{{stepsBackgroundColor|json_encode}}">
                {% for step in steps %}
                    <step-content :index="{{ loop.index0 }}">
                        <div class="my-4" data-builder-child-container="{{step.uuid}}">{{ children[step.uuid] | raw }}</div>
                    </step-content>
                {% endfor %}
            </steps-widget>
        </div>
    {% endif %}
{% else %}
    <p>Daten konnten nicht nicht geladen werden</p>
{% endif %}