{% set steps_data = widget.settings.steps.mobile %}

{{ steps_data.colors|json_encode|raw }}
{{ steps_data.colors|json_encode }}
{{ widget.settings.colors.children|json_encode|raw }}

{% if steps_data is not empty %}
    {% if isPreview %}
        <div>
            {% for step in steps_data %}
                <h1>{{step.title}}</h1>
                <div class="my-4" data-builder-child-container="{{step.uuid}}">{{ children[step.uuid] | raw }}</div>
            {% endfor %}
        </div>
    {% else %}
        <div class="step-widget">
            <steps-widget
                    :steps="{{steps_data|json_encode}}"
                    :css-colors="{{ steps_data.colors|json_encode|raw }}">
                {% for step in steps_data %}
                    <step-content :index="{{ loop.index0 }}">
                        <div class="my-4" data-builder-child-container="{{step.uuid}}">{{ children[step.uuid] | raw }}</div>
                    </step-content>
                {% endfor %}
            </steps-widget>
        </div>
    {% endif %}
{% endif %}